
.actionsContainer   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.cardTitle2 {
    min-height: 3.8rem;
}

.cardDesc   {
    min-height: 5rem;
}
