

.sticky {
	background-color: #ffffff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 100;
	
}


.headerContainer	{
	display: flex;
	flex-direction: row;
	background-color: rgb(255, 209, 148);
	justify-content: left;
	align-items: center;
	padding: 1rem 1.5rem 1rem 1.2rem;
	box-shadow: 0px 3px 13px gray;
	
	
}

.logoContainer	{
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.logoTitle	{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 900;
	color: black;
	font-size: 0.9rem;	
}

.headerLoginContainer	{
	flex-grow: 1;
	text-align: right;	
	font-size: 0.82rem;
	font-weight: 900;

}

.headerLoginGreetingMsg	{
	padding-bottom: 0.5rem;
}

.menuItensContainer	{
	padding-left: 2rem;
}


.menuItens	{
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding: 1rem;
	font-size: 0.9rem;
	font-weight: 900;
	color: darkblue;
}



/* .listInline {
	list-style: none;
	padding: 0;
	font-size: 1.5rem;
	background-color: bisque;
}

.listInline > li {
	display: inline-block;
}

.listInline > li:before {
	content: "\200B"; 
	position: absolute; 
} */



@media screen and (max-width: 560px) {
  
	.headerContainer  {
		flex-direction: column;
	}

	.headerLoginContainer	{
		text-align: center;
	}

	.menuItensContainer	{
		padding-left: 0rem;
	}
	
}